.backBtn{
    p{
        margin: 0
    }
    text-transform: capitalize;
    border-radius: 999px;
    background-color: #ffe1b78a !important; 
    box-sizing: border-box;
    border: 1px solid #ffd498;
    color:#5b3f18;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px 25px;

    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 700;

    position: fixed;
    right: 250px;
    bottom: 30px;
    background-color: transparent;
    opacity: 0.8;

    display: flex;
    align-items: center;
    gap: 12px;

    &:hover {
        opacity: 1;
        transform: translateY(-1px);
      }
}

