@import '../../app/index.scss';
.wrapper-result{
    height: 50%;
    width: 40%;
    flex-direction: column;
}
.header-result-card{
    color:#5b3f18;
    font-size: 32px;
}
.content-result-card{
    margin-top: 50px;
    font-size: 24;
    p{
        margin-top: 25px;
        &:last-child{
            margin-top: 40px;
        }
    }
}
.back-to-map{
        text-transform: none;

        font-size: 24px;
        font-family: 'Nunito';
        font-weight: 700;

        position: fixed;
        right: 50px;
        bottom: 25px;
        opacity: 0.8;

        border-radius: 999px;
        background-color: #ffe1b78a !important; 
        box-sizing: border-box;
        border: 1px solid #ffd498;
        color:#5b3f18;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        padding: 15px 25px;

        &:hover {
            opacity: 1;
            transform: translateY(-1px);
          }
}