@import '../styles/index.scss';
.wrapper-game-card{
    height: fit-content;
    width: 70%;
    flex-wrap: wrap;
    padding: 20px 0px;
    .header_name-game-card{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .header_description-game-card{
        font-size: 24px;
    }
    .header-game-card-left{
        width: 80%;
        margin: 0px 10px;
        text-align: left;
    }
    .header-game-card-right{
        width: 20%;
        text-align: right;
        font-size: 13px;
    }
    .header-game-card{
        display: flex;
        padding: 0px 30px;
        justify-content: space-between;
    }
    .content-game-card{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0px;
    }
}
.i{
    position: fixed;
    right: 10px;
    top: 20px;
    font-size: 32px;
}