.bank-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  	height: 100vh;
	background-image: url('../../assets/bank_background.png');
    background: color #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.atm-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  	height: 100vh;
	background-image: url('../../assets/atmback.png');
    background: color #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.company-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  	height: 100vh;
	background-image: url('../../assets/company_background.png');
    background: color #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.house-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  	height: 100vh;
	background-image: url('../../assets/house_background.png');
    background: color #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.currency-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  	height: 100vh;
	background-image: url('../../assets/currency_background.png');
    background: color #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}