@import '../styles/index.scss';
.wrapper-greeting{
    height: 400px;
    width: 800px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-evenly;

    p{
        margin: 50px 0px;   
        font-size: 32px;
        font-weight: 700;
    }
}