.wrapper-loading {
    width: 100vw;
    height: 100vh;
    background-color: #ffe1b78a;
    border-radius: 20px;
    border: 1px solid #ffd498;
    color:#5b3f18;
    font-size: 32px;
    font-family: 'Nunito';
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    text-align: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }
